<template name="adminNavHeader">
 <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                <i><h1 class="section-title text-center wow fadeInDown" style="font-family:Lucida Calligraphy Italic;">E-MediCare</h1></i>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        
                    </button>
              
                </div>
                <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
            <li class="scroll"><a href="/">Home</a></li>
            {{#if currentUser}}
              {{#if isInRole 'siteadmin'}}
                
            
              <li class="scroll" onclick="Meteor.logout();"><a href="/">Logout</a></li>
            {{/if}}
  {{/if}}
          </ul>
          </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
</template>
