<template name="getInTouch">
    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Get in Touch</h2><br>
                <address class="text-center wow fadeInDown">
                              <h4>E-MediCare</h4>
                              <!-- No 5, 20th G cross,<br>
                              Egipura<br>
                              Koramangala
                              Bangalore 560047<br> -->
                              Email : aparna29th@gmail.com, tarteisha@gmail.com<br>
                              Contact No.: +91 98107 02539, +91 99643 01466
                            </address>              
            </div>
        </div>
    </section><!--/#get-in-touch-->
</template>
