<template name="modifyMerchantTemplate">
{{#if isInRole 'siteadmin'}}
<a href ="/showmerchant"><input type ="button" id ="showmerchant" value="Back"> </a>
<h3>Doctor Details:</h3>
{{#with merchant}}
<ul>
<li>Name: {{name}}</li>
<li>Address: {{address}}</li>
<li>Contact Details: {{contactDetails}}</li>
<li>Gender: {{gender}}</li>
<li>Age: {{age}}</li>
<li>Qualification: {{qualification}} </li>
<li>Specialization: {{specialization}} </li>
<li>Available Time:{{availt}}</li>
</ul>
{{/with}}
<div class="container">
        {{#autoForm collection="doctorsCollection" id="modifyMerchant" type="update" doc = merchant omitFields="profileImageLocation"}}
          <fieldset>
          <legend>Enter The New Details:</legend>
            {{> afQuickField name='name'}}
            {{> afQuickField name='address'}}
            {{> afQuickField name='contactDetails'}}
            {{> afQuickField name='id'}}
            {{> afQuickField name='password'}}
            {{> afQuickField name='age'}}
            {{> afQuickField name='gender'}}
            {{> afQuickField name='specialization'}}
            {{> afQuickField name='qualification'}}
            {{> afQuickField name='availt'}}
          </fieldset>
          <button type="submit" class="btn btn-primary">Save Changes</button><a href ="/showmerchant"> </a>
	<button type="reset" class="btn btn-default">Reset Form</button>
        {{/autoForm}}
      </div> 
{{else}}
      <h3>You are unauthorized</h3>
    {{/if}}
</template>
