<template name="navHeader">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navigation-merchant" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">Discount 2 students</div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right" style="margin-right:50px">
          <li>
            <a href="/">
              <div class="inner-a"><b>Home</b></div>
            </a>
            </li>
        </ul>
      </div>
    </nav>
  </div>
</template>