<template name = "viewPatientRequestTemplate">
{{>doctorNavHeader}}
<div class=back>
<br><br><br>
<center><h2 style="font-family:Lucida Calligraphy Italic;"> Patient Requests </h2></center><br>
<center><label><i>Please select the patient you wish to prescribe.</i></label></center><br><br>
{{#each details}}
<tr class = "patient {{selectedpatient}}"> <td><b>Username:</b> {{name}}</td><td><b>Category:</b> {{category}}</td><td><b>Symptoms:</b> {{symptom}}</td><td><b>Prescription:</b> {{prescription}}</td>
<a href ="/viewpatientprofile/{{name}}"><input type ="button" id ="viewpatientprofile" value="View Patient Details"></a>
<br>
</tr>
{{/each}}
{{#each uploads}}
      {{#if isImage}}
        <a href="{{url}}">
          <!--<img src="{{url}}" alt="{{original.name}}" />-->
	View Image
        </a>
      {{else}}
        {{original.name}}
        <a href="{{url download=true}}">
          Download
        </a>
      {{/if}}
  {{/each}}
<form class="prescription">
<center><input type="text" name="prescription" placeholder = "Add Prescription">
<input type = "submit" id = "submit"></center>
</form>
</div>
</template>
